<div class="medusa-index-wrapper">
  <ul class="trn-ul">
    <%= for s <-  @servers do %>
	<li> <%= link(String.slice(s, 8..-13), to: "/medusa/#{TTypes.server_id_to_path(s)}?position_x=0&position_y=0", method: :get, class: "trn-a") %> </li>
	<% end %>
  </ul>
</div>
