@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */


/* Medusa Table */
.medusa-select-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.medusa-options-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    align-items: center;
}

.medusa-options-container {
    border: 8px double var(--main-color-grey-dark);
}

.medusa-options-container-origin {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}


.medusa-options-container-origin > * {
    margin: 0 15px 0;
}




/*mine*/


:root {
    --main-color-red: #b20d30;
    --main-color-grey: #f2f2f2;
    --main-color-grey-dark: #cccccc;
    --main-font-family: 'open sans',sans-serif;
}


body {
    background-color: var(--main-color-grey);
}

.medusa-index-wrapper {
    display: grid;
}

.trn-index {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 20px;
    border-left: solid var(--main-color-red);
}

.trn-index_li {
    margin: 10px 0;
}


.trn-button {
    text-transform: uppercase;
    color: white;
    background-color: var(--main-color-red);
    max-height: 3rem;
    min-height: 3rem;
    border-radius: 5px;
    border: 8px double var(--main-color-grey-dark);
    transition: all 0.3s ease;
}

.trn-button:hover {
    background-color: #000;
    border-radius: 8px;
    border-color: #000;
    transition: all 0.3s ease;
}

.trn-input {
  border: 2px solid var(--main-color-red);
  border-radius: 2px;
  font-family: var(--main-font-family);
  background-color: transparent;
  width: 5rem;
}

.trn-a {
    position: relative;
    color: var(--main-color-red);
    text-transform: uppercase;
    text-decoration: none;
}


.trn-a:hover {
    color: #000;
}

.trn-a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.trn-a:hover::before {
  transform: scaleX(1);
}



.trn-table {
    border: 8px double var(--main-color-grey-dark);
}

.trn-table > tbody > tr > td {
    border-bottom: 1px solid var(--main-color-grey-dark);
}






.datatable-table > thead > tr > th {
  padding: 5px 20px;
  font-size: 1.1rem;
  color: var(--main-color-red);
  vertical-align: bottom;
  text-transform: uppercase;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
}

.datatable-table > tbody > td {
  padding: 5px 20px;
  height: 2rem;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: rgba(178, 13, 48, 0.3);
}

.datatable-table > tbody > tr:hover > td {
  background-color: var(--main-color-grey-dark);
}

.trn-table thead tr th {
  padding: 5px 20px;
  font-size: 1.1rem;
  color: var(--main-color-red);
  vertical-align: bottom;
  text-transform: uppercase;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
}




label.custom-input{
  font-family: 'Open Sans',sans-serif;
  color: #B20D30;
}


label.custom-input input::placeholder{
  font-family: 'Open Sans',sans-serif;
}





.trn-last-update {
    text-transform: uppercase;
    margin: min(8vh, 25px) auto;
    padding: 0 20px;
    color: #000;
    position: relative;
}

.trn-last-update:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  background: #000;
  transition: transform 0.3s ease;
  transform: scaleX(1);


  -webkit-animation: animate-underline 0.8s ease;
  -moz-animation: animate-underline 0.8s ease;
  -ms-animation: animate-underline 0.8s ease;
  -o-animation: animate-underline 0.8s ease;
  animation: animate-underline 0.8s ease;


}

.animate-last-update {
  animation-duration: 0.8s;
  animation-name: animate-last-update;
  /* animation-delay: 0.5s; */
  animation-fill-mode: backwards;
}

@keyframes animate-last-update {
  0% {
      color: var(--main-color-red);
  }
}

@keyframes animate-underline {
  0% {
      color: var(--main-color-red);
      transform: scaleX(0);
  }
}
