@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */


/* Medusa Table */
.medusa-select-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.medusa-options-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    align-items: center;
    padding: 1.5vw;
}


.medusa-options-container-origin {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}


.medusa-options-container-origin > * {
    margin: 0 15px 0;
}

.medusa-options-container-origin-points {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}


:root {
    --main-color-red: #b20d30;
    --main-color-grey: #e4e7eb;
    --main-color-grey-white: #f3f4f6;
    --main-color-grey-dark: #cccccc;
    --main-color-black: #141414;
    --main-font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


body {
    background-color: var(--main-color-red);
    font-family: var(--main-font-family);
    color: var(--main-color-grey)
}

.medusa-index-wrapper {
    display: grid;
}

.trn-index {
    list-style-type: none;
    margin: 0 auto;
    padding: 0 20px;
}

.trn-index_li {
    margin: 10px 0;
}


.trn-button {
    text-transform: uppercase;
    color: white;
    background-color: var(--main-color-red);
    border: 5px double var(--main-color-grey-dark);
    border-radius: 1px;
    padding: 0px 3px;
    transition: all 0.3s ease;
}

.trn-button:hover {
    background-color: var(--main-color-grey-dark);
    color: var(--main-color-red);
    transition: all 0.3s ease;
}

.trn-input {
  border: 1px solid var(--main-color-grey);
  border-radius: 1px;
  font-family: var(--main-font-family);
  background-color: transparent;
  width: 5rem;
}

.trn-a {
    position: relative;
    color: var(--main-color-grey);
    text-transform: uppercase;
    text-decoration: none;
}


.trn-a:hover {
    color: var(--main-color-black);
}

.trn-a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color-black);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.trn-a:hover::before {
  transform: scaleX(1);
}







.trn-table {
    border: 8px double var(--main-color-grey-dark);
}

.trn-table > tbody > tr > td {
    border-bottom: 1px solid var(--main-color-grey-dark);
}






.datatable-table {
    margin: 0 auto;
}

.datatable-table > thead > tr > th {
  padding: 5px 20px;
  font-size: 1.1rem;
  vertical-align: bottom;
  text-transform: uppercase;
  border-width: 0px 0px 2px 0px;
  border-style: solid;
}

.datatable-table > tbody > td {
  padding: 5px 20px;
  height: 2rem;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: rgba(178, 13, 48, 0.3);
}

.datatable-table > tbody > tr:hover > td {
  background-color: var(--main-color-grey-dark);
  color: var(--main-color-red);
}

.datatable-table > tbody > tr:hover > td > a {
  color: var(--main-color-red);
}

.datatable-table > tbody > tr:hover > td > a:hover {
  color: var(--main-color-black);
}

/* .datatable-wrapper { */
/*     display: flex; */
/*     flex-direction: column; */
/* } */
/* .datatable-container { */
/*     display: flex; */
/*     justify-content: center; */
/* } */

/* .datatable-pagination-list{ */
/*     display: flex; */
/*     gap: 10px; */
/* } */




label.custom-input{
  font-family: 'Open Sans',sans-serif;
  color: #B20D30;
}


label.custom-input input::placeholder{
  font-family: 'Open Sans',sans-serif;
}





.trn-last-update {
    text-transform: uppercase;
    margin: min(8vh, 25px) auto;
    padding: 0 20px;
    color: var(--main-color-grey);
    position: relative;
}

.trn-last-update:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--main-color-grey);
  background: var(--main-color-grey);
  transition: transform 0.3s ease;
  transform: scaleX(1);


  -webkit-animation: animate-underline 0.8s ease;
  -moz-animation: animate-underline 0.8s ease;
  -ms-animation: animate-underline 0.8s ease;
  -o-animation: animate-underline 0.8s ease;
  animation: animate-underline 0.8s ease;


}

.animate-last-update {
  animation-duration: 0.8s;
  animation-name: animate-last-update;
  /* animation-delay: 0.5s; */
  animation-fill-mode: backwards;
}

@keyframes animate-last-update {
  0% {
      color: var(--main-color-black);
  }
}

@keyframes animate-underline {
  0% {
      color: var(--main-color-black);
      transform: scaleX(0);
  }
}
